<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cdc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CDC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.policyIssue.MotifyPolicyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CommonUserActivity"
            android:exported="false"
            android:label="@string/title_activity_common_user"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.searchInfo.SelfInfo"
            android:exported="false"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".ui.searchInfo.PolicyInfo"
            android:exported="false"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".ui.searchInfo.ACBoard"
            android:exported="false"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".ui.dataProcessing.ChangeQuestionnaireContentActivity"
            android:exported="false"
            android:label="更改问卷内容"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".ui.dataProcessing.ViewQuestionnaireListActivity"
            android:exported="false"
            android:label="问卷列表查看"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".AdministratorActivity" />
        <activity
            android:name=".ui.dataProcessing.ViewAbnormalQuestionnaireListActivity"
            android:exported="false"
            android:label="异常问卷列表查看"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ui.dataProcessing.ViewQuestionnaireListActivity" />
        <activity
            android:name=".ui.dataProcessing.ViewQuestionnaireActivity"
            android:exported="false"
            android:label="问卷信息查看"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ui.dataProcessing.ViewQuestionnaireListActivity" />
        <activity
            android:name=".ui.informationReport.SubmitSuccessMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.informationReport.SpecialConditionActivity"
            android:exported="false"
            android:label="特殊信息上报">
            <intent-filter>
                <action android:name="com.example.cdc.action.SEPCIALCONDITIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdministratorActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.ADMINISTRATOR_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>